<button type="button" routerLink="/add-data" class="btn btn-dark">Click to Add data</button>
<!--Table-->
<table class="table table-stripped">
  <thead>
        <tr>
            <th>Book Id</th>
            <th>Book Name</th>
            <th>Book AuthorName</th>
            <th>Issue Book</th>
            <th>Submit Date</th>
            <th>Student Name</th>
            <th>Action</th> 
        </tr>
  </thead>
  <tbody>
          <!--For fetching Data-->
          <tr *ngFor="let library of libraryData; let i = index">
                <ng-container *ngIf="!editing[i]; else editMode">
                  <td>{{library.bookId}}</td>
                  <td>{{library.bookName}}</td>
                  <td>{{library.bookAuthor}}</td>
                  <td>{{library.issueBook}}</td>
                  <td>{{library.submitDate}}</td>
                  <td>{{library.studentName}}</td>
                <td>
                    <button *ngIf="!editing[i]" (click)="edit(i)" class="btn btn-light mr-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                    </svg>Edit</button>

                    <button class="btn btn-light mr-1" (click)="deleteClick(library.bookId)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                    </svg> Delete
                    </button>

                    <button *ngIf="editing[i]" (click)="save(i)">Save</button>

                </td>
            </ng-container>
            <ng-template #editMode>
                <td>
                    <input type="text" [(ngModel)]="libraryData[i].bookId" />
                     <br>
                    <input type="text" [(ngModel)]="libraryData[i].bookName"/>
                        <br>
                    <input type="text" [(ngModel)]="libraryData[i].bookAuthor" />
                        <br>
                    <input type="date" [(ngModel)]="libraryData[i].issueBook" />
                        <br>
                    <input type="date" [(ngModel)]="libraryData[i].submitDate" />
                        <br>
                    <input type="text" [(ngModel)]="libraryData[i].studentName"  />
                        <br>
                    <button class="btn btn-primary" (click)="stopEditing(i, library)">Save</button>
                  </td>
                  </ng-template>
            </tr>
</tbody>
</table>

<button class="btn btn-primary" (click)="logout()">Logout</button>